.page-title
  %h3
    Listing Treatments
    = link_to new_treatment_path, class: 'btn btn-sm btn-outline-primary float-end' do
      %i.fas.fa-plus
      %span Add Treatment

.row
  .col-12
    .box.box-primary
      .box-body
        %table.table.table-hover
          %thead
            %tr
                %th Diagnosis
                %th Client
                %th User
                %th Appointment
                %th Name
                %th
              %th

          %tbody
            - for treatment in @treatments
              %tr{ :class => cycle(:odd, :even) }
                  %td= treatment.diagnosis
                  %td= treatment.client
                  %td= treatment.user
                  %td= treatment.appointment
                  %td= treatment.name
                  %td
                  = link_to edit_treatment_path(treatment), class: 'btn btn-outline-info btn-rounded' do
                    %i.fas.fa-pen
                %td
                  = link_to treatment, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-outline-danger btn-rounded' do
                    %i.fas.fa-trash
