.page-title
  %h3
    Listing Pharmacies
    = link_to new_pharmacy_path, class: 'btn btn-sm btn-outline-primary float-end' do
      %i.fas.fa-plus
      %span Add Pharmacy

.row
  .col-12
    .box.box-primary
      .box-body
        %table.table.table-hover
          %thead
            %tr
                %th Name
                %th Address
                %th Phone
                %th Email
                %th Notes
                %th
              %th

          %tbody
            - for pharmacy in @pharmacies
              %tr{ :class => cycle(:odd, :even) }
                  %td= pharmacy.name
                  %td= pharmacy.address
                  %td= pharmacy.phone
                  %td= pharmacy.email
                  %td= pharmacy.notes
                  %td
                  = link_to edit_pharmacy_path(pharmacy), class: 'btn btn-outline-info btn-rounded' do
                    %i.fas.fa-pen
                %td
                  = link_to pharmacy, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-outline-danger btn-rounded' do
                    %i.fas.fa-trash
