.page-title
  %h3
    Listing Notes
    = link_to new_note_path, class: 'btn btn-sm btn-outline-primary float-end' do
      %i.fas.fa-plus
      %span Add Note

.row
  .col-12
    .box.box-primary
      .box-body
        %table.table.table-hover
          %thead
            %tr
                %th Appointment
                %th Treatment
                %th User
                %th Body
                %th
              %th

          %tbody
            - for note in @notes
              %tr{ :class => cycle(:odd, :even) }
                  %td= note.appointment
                  %td= note.treatment
                  %td= note.user
                  %td= note.body
                  %td
                  = link_to edit_note_path(note), class: 'btn btn-outline-info btn-rounded' do
                    %i.fas.fa-pen
                %td
                  = link_to note, :confirm => 'Are you sure?', data: { "turbo-method": :delete }, class: 'btn btn-outline-danger btn-rounded' do
                    %i.fas.fa-trash
