.dashboard_wrap
  .row
    .col-md-12.page-header
      .page-pretitle Overview
      %h2.page-title Dashboard
  .row
    .col-sm-6.col-md-6.col-lg-3.mt-3
      .card
        .content
          .row
            .col-sm-4
              .icon-big.text-center
                %i.teal.fas.fa-users
            .col-sm-8
              .detail
                %p.detail-subtitle New Patients
                %span.number= current_user.patients.where("created_at > ?", Date.today.beginning_of_month).count
          .footer
            %hr/
            .stats
              %i.fas.fa-calendar
              For this Month
    .col-sm-6.col-md-6.col-lg-3.mt-3
      .card
        .content
          .row
            .col-sm-4
              .icon-big.text-center
                %i.olive.fas.fa-users
            .col-sm-8
              .detail
                %p.detail-subtitle New Patients
                %span.number= current_user.patients.where("created_at > ? AND created_at < ?", (Date.today - 1.month).beginning_of_month, Date.today.beginning_of_month - 1.day).count
          .footer
            %hr/
            .stats
              %i.fas.fa-stopwatch
              Last Month
    .col-sm-6.col-md-6.col-lg-3.mt-3
      .card
        .content
          .row
            .col-sm-4
              .icon-big.text-center
                %i.violet.fas.fa-calendar
            .col-sm-8
              .detail
                %p.detail-subtitle Appointments
                %span.number= current_user.appointments.where("created_at > ?", Date.today.beginning_of_month).count
          .footer
            %hr/
            .stats
              %i.fas.fa-calendar
              For this Month
    .col-sm-6.col-md-6.col-lg-3.mt-3
      .card
        .content
          .row
            .col-sm-4
              .icon-big.text-center
                %i.orange.fas.fa-calendar
            .col-sm-8
              .detail
                %p.detail-subtitle Appointments
                %span.number= current_user.appointments.where("created_at > ? AND created_at < ?", (Date.today - 1.month).beginning_of_month, Date.today.beginning_of_month - 1.day).count
          .footer
            %hr/
            .stats
              %i.fas.fa-stopwatch
              For last month
  .row
    .col-md-12
      .row
        .col-md-6
          .card
            .content
              .head
                %h5.mb-0 Next 5 Appointments
                %p.text-muted Current year sales data
              .appointment_wrapper
                - current_user.appointments.where("start_time > ? AND start_time < ?", Time.now - 30.minutes, Time.now.end_of_day).limit(5).each do |a|
                  .border-top.my-3
                  .appointment_dash
                    = link_to appointment_path(a), class: "appointment" do
                      %h5
                        %span= a.start_time.strftime("%I:%M %p - %b %d, %Y")
                      .appointment_detail
                        %span= a.patient.full_name
        .col-md-6
          .card
            .content
              .head
                %h5.mb-0 Appointment Overview
                %p.text-muted Appointments by Month
              .canvas-wrapper
                = column_chart current_user.appointments.group_by_month(:start_time, format: "%b %y").count