/ end page title
.row
  .col-12
    .card
      .card-body
        = form_for @appointment, class: 'form-horizontal' do |f|
          .mb-3
            %label.form-label
              Patient
            - if @appointment.new_record? && params[:user_id]
              = f.collection_select :patient_id, Patient.where(user_id: params[:user_id]), :id, :full_name, {include_blank: "Select Patient" }, {class: 'form-control'}
            - else
              = f.collection_select :patient_id, Patient.all, :id, :full_name, {include_blank: "Select Patient"}, {class: 'form-control'}
            - unless @appointment.new_record? || @appointment.patient.nil?
              %p
                = link_to "Go to patient", edit_patient_path(@appointment.patient), class: 'btn btn-sm btn-outline-primary'
          .mb-3
            = f.label :user, class: 'form-label'
            - if @appointment.new_record? && params[:user_id]
              = f.collection_select :user_id, User.all, :id, :full_name, {include_blank: false, selected: params[:user_id]}, {class: 'form-control'}
            - else
              = f.collection_select :user_id, User.all, :id, :full_name, {include_blank: false}, {class: 'form-control'}
          .mb-3
            = f.label :start_time, class: 'form-label'
            - if params[:start_time]
              = f.datetime_field :start_time, class: 'form-control', value: params[:start_time]
            - else
              = f.datetime_field :start_time, class: 'form-control'
          .mb-3
            = f.label :end_time, class: 'form-label'
            - if params[:end_time]
              = f.datetime_field :end_time, class: 'form-control', value: params[:end_time]
            - else
              = f.datetime_field :end_time, class: 'form-control'
          .mb-3
            = f.label :reception_notes, class: 'form-label'
            = f.text_area :reception_notes, class: 'form-control'
          .mb-3
            = f.submit "Save", class: 'btn btn-success btn-block'
