/ end page title
.row
  .col-12
    .card
      .card-body
        = form_for patient_contact, class: 'form-horizontal' do |f|
          - if patient_contact.new_record?
            = f.hidden_field :patient_id, value: patient_id
          .mb-3
            = f.label :name, class: 'form-label'
            = f.text_field :name, class: 'form-control'
          .mb-3
            = f.label :primary, class: 'form-label'
            .clear
            = f.check_box :primary, class: 'form-check-input'
          .mb-3
            = f.label :phone, class: 'form-label'
            = f.text_field :phone, class: 'form-control'
          .mb-3
            = f.label :email, class: 'form-label'
            = f.text_field :email, class: 'form-control'
          .mb-3
            = f.label :address, class: 'form-label'
            = f.text_field :address, class: 'form-control'
          .mb-3
            = f.label :contact_method, class: 'form-label'
            = f.select :contact_method, options_for_select(["Phone", "Email", "Text", "Mail", "Other"], patient_contact.contact_method), {}, class: 'form-select'
          .mb-3
            = f.label :notes, class: 'form-label'
            = f.text_area :notes, class: 'form-control'
          .mb-3
            = f.submit "Save", class: 'btn btn-success btn-block'
