.page-title
  %h3
    Listing Patient Contacts
    = link_to new_patient_contact_path, class: 'btn btn-sm btn-outline-primary float-end' do
      %i.fas.fa-plus
      %span Add Patient Contact

.row
  .col-12
    .box.box-primary
      .box-body
        %table.table.table-hover
          %thead
            %tr
                %th Name
                %th Patient
                %th Primary
                %th Phone
                %th Email
                %th Address
                %th Contact method
                %th Name
                %th Notes
                %th
              %th

          %tbody
            - for patient_contact in @patient_contacts
              %tr{ :class => cycle(:odd, :even) }
                  %td= patient_contact.name
                  %td= patient_contact.patient
                  %td= patient_contact.primary
                  %td= patient_contact.phone
                  %td= patient_contact.email
                  %td= patient_contact.address
                  %td= patient_contact.contact_method
                  %td= patient_contact.name
                  %td= patient_contact.notes
                  %td
                  = link_to edit_patient_contact_path(patient_contact), class: 'btn btn-outline-info btn-rounded' do
                    %i.fas.fa-pen
                %td
                  = link_to patient_contact, :confirm => 'Are you sure?', :method => :delete, class: 'btn btn-outline-danger btn-rounded' do
                    %i.fas.fa-trash
