!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title EMR Template
    = csrf_meta_tags
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/d60e922cc5.js"}
    %link{:href => "https://cdn.skypack.dev/trix/dist/trix.css", :rel => "stylesheet"}/
    %script{:type => "module"}
      import railsActiontext from 'https://cdn.skypack.dev/@rails/actiontext';
      import trix from 'https://cdn.skypack.dev/trix';

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
  %body
    .wrapper
      = render partial: 'shared/sidebar'

      #body.active
        = render partial: 'shared/topnav'
        / end of navbar navigation
        .content
          .container
            - if notice
              .alert.alert-success
                %strong= notice
            - if alert
              .alert.alert-danger
                %strong= alert
            - if flash[:error]
              .alert.alert-danger
                %strong= flash[:error]

            = yield
    = javascript_include_tag 'application', 'data-turbo-track': 'reload'
    = yield :custom_modals