!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title EMR Template
    = csrf_meta_tags
    %script{:crossorigin => "anonymous", :src => "https://kit.fontawesome.com/d60e922cc5.js"}
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = javascript_include_tag
  %body
    .wrapper
      = render partial: 'shared/sidebar'

      #body.active
        = render partial: 'shared/topnav'
        / end of navbar navigation
        .content
          .container
            - if notice
              .alert.alert-success
                %strong= notice
            - if alert
              .alert.alert-danger
                %strong= alert
            - if flash[:error]
              .alert.alert-danger
                %strong= flash[:error]

            = yield
    = yield :custom_modals